html{
    scroll-behavior: smooth;
}

*{ margin: 0;padding: 0; box-sizing: border-box;
   font-family: cursive;}

a{ text-decoration: none;}

a:hover{ text-decoration: none; }

li{ list-style: none;}

p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: red;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../images/road-asphalt-space-sky-56832.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%,0 0);
    position: relative;

}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}


.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
    color: #fff!important;
    font-weight: bold;
}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}

.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color:white;
}
/************** About and working section start ****************/

.information{
    width: 100%;
    height: auto;
    margin: 90px 0;
    background: white;
    border: medium none;
    padding: 50px!important;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
    

}

.information:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.information h1{
    font-size: 2rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.information p{
    font-size: 1rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}


/************** About and working section end ****************/


/************** parameter section start ****************/

.parameter{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: rgba(0,0,0,0.1);
    position: relative;
}
.parameter:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.parameter .box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;

}

.box:hover{
    background: #16c9f6;
}

.box:hover p{
    color: white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px!important;
    
}

.carousel-indicators li{
    background-color:#16c9f6!important;
}


.box a {
    position: relative;
}

.parameter .box a img{
    width: 300px;
    height: 300px;
    border-radius: 50% ;
    margin-top: 20px;
    
}

.box h2{
    font-size: 14px;
    font: bold;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}


/************** parameter section end ****************/

/*************** calculation section start ************/

/*************** calculation section end ************/


/*************** contact section start ************/
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg,#16c9f6 55%, #fff 0%);
    z-index: -1;

}

.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
    font-size: 0.85rem;
}


/*************** contact section end ************/

/*************** newsletter section start *********/

.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height: 45px;
}

.input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 130px;
    min-height: 40px;
}


/*************** newsletter section end ************/

/*************** footer section start ***************/

.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;

}

.footersection p{
    color: #fff;
}

.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center ;
}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#myBtn{
    /*display: none;*/
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;

}
#myBtn:hover{
    background: #606060;

}
/*************** footer section end *****************/


/************** media queries ***********************/

@media(max-width: 768px){
    .nav-item{
        text-align: center!important;
    }
    .contactus{
        height: auto;
        margin-top: 50px;
    }
    .footer-div:nth-child(2){
        text-align: left!important;

    }
    .footer-div{
        margin: 30px 0;
    }
}
